<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?page=%d</string>
		<key>title</key>
		<string>全球</string>
		<key>type</key>
		<string>SWGLOBE_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?alias=hotNews&amp;page=%d</string>
		<key>title</key>
		<string>最热</string>
		<key>type</key>
		<string>SWHOST_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=17&amp;page=%d</string>
		<key>title</key>
		<string>中国</string>
		<key>type</key>
		<string>SWCHINA_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=16&amp;page=%d</string>
		<key>title</key>
		<string>美国</string>
		<key>type</key>
		<string>SWAMERICAN_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=15&amp;page=%d</string>
		<key>title</key>
		<string>欧洲</string>
		<key>type</key>
		<string>SWEUROPE_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=20&amp;page=%d</string>
		<key>title</key>
		<string>央行</string>
		<key>type</key>
		<string>SWBANK_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=21&amp;page=%d</string>
		<key>title</key>
		<string>市场</string>
		<key>type</key>
		<string>SWMARKET_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=19&amp;page=%d</string>
		<key>title</key>
		<string>经济</string>
		<key>type</key>
		<string>SWECONOMY_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=22&amp;page=%d</string>
		<key>title</key>
		<string>公司</string>
		<key>type</key>
		<string>SWCOMPANY_TYPE</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://api.wallstreetcn.com/v2/posts?cid=11&amp;page=%d</string>
		<key>title</key>
		<string>推荐</string>
		<key>type</key>
		<string>SWRECOMMEND_TYPE</string>
	</dict>
</array>
</plist>
